---
import {Button} from '../ui/button'
import {PROFILE} from "../../content/profileData";
---

<div class="flex h-full w-full animate-appear">
  <div class="flex flex-col justify-between gap-4 md:max-h-[300px]">
    <div class="flex h-full flex-col">
      <p class="m-0 text-xl font-light">
        <b class="font-bold">À propos de moi</b>
      </p>
      <a href={`/${import.meta.env.BASE_URL}intro`}>
        <Button variant="link" className="pl-0"> En savoir plus</Button>
      </a>
      <ul class="pt-4">
        {PROFILE.shortIntros.map((intro, index) => (
          <>
            {index === (PROFILE.shortIntros.length / 2)

              ? <br/>
              :
              <></>
            }
            <li>{intro}</li>
          </>
        ))}
      </ul>
    </div>
</div>

