---
import {Button} from '../ui/button'
import {PROFILE} from "../../content/profileData";
import {Linkedin, Github, Mail, Youtube, Twitter, Rss, Book, PanelsTopLeft} from 'lucide-react'
---

<div class="flex h-full w-full items-center justify-center">
  <img
    src={PROFILE.avatarUrl}
    class="h-full w-auto object-cover rounded-[40px]"
    alt={`image of ${PROFILE.name}`}
  />
</div>

