---
import { getCollection } from "astro:content";
import Card from '../Card.astro'
import { Button } from '../ui/button'

let realisations = await getCollection('realisations');

realisations = realisations.slice(0, 3);
---


<div class="mt-2 space-y-4">
  {
    realisations.slice(0, 3).map((realisation) => (
      <div>
        <h3 class="text-lg font-semibold text-primary">
          <a href={`/realisations/${realisation.slug}`} class="hover:underline">
            {realisation.data.title}
          </a>
        </h3>
        <p class="text-sm">
          {realisation.data.description}
        </p>
      </div>
    ))
  }
  <a href="/realisations">
    <Button variant="link" className="pl-0"> View More</Button>
  </a>
</div>

