---
import { PROFILE } from "../../content/profileData";
---

<div class="flex flex-col gap-2 animate-appear">
  <section>
    <h2 class="text-2xl font-bold mb-4">Technical Skills</h2>
    <ul class="list-inside list-disc">
      {
        PROFILE.technicalSkills.map((skill) => (
          <li>
            <a href={`/skills/${skill.toLowerCase().replace(/\s+/g, '-')}`}>
              <span>{skill}</span>
            </a>
          </li>
        ))
      }
    </ul>
  </section>
  <section class="mt-8">
    <h2 class="text-2xl font-bold mb-4">Other Skills</h2>
    <ul class="list-inside list-disc">
      {
        PROFILE.otherSkills.map((skill) => (
          <li>
            <a href={`/skills/${skill.toLowerCase().replace(/\s+/g, '-')}`}>
              <span>{skill}</span>
            </a>
          </li>
        ))
      }
    </ul>
  </section>
</div>
