---
import BaseLayout from '../layouts/BaseLayout.astro'

import { buttonVariants } from '../components/ui/button'
---

<BaseLayout
  title="404 - Non trouvé"
  description="404 Error — cette page n'a pas été trouvée"
>
  <main class="flex h-[80vh] flex-auto">
    <div class="flex flex-col items-center justify-center px-8">
      <p class="text-sm text-muted-foreground">404</p>
      <h1 class="text-4xl font-extrabold tracking-tight lg:text-5xl">
        Page non trouvée
      </h1>
      <p class="mb-4 leading-7 [&:not(:first-child)]:mt-6">
        Désolé, nous n'avons pas pu trouver la page que vous recherchez.
      </p>
      <a href={`${import.meta.env.BASE_URL}`} rel="noreferrer" class={buttonVariants()}> Retour à l'accueil</a>
    </div>
  </main>
</BaseLayout>
